@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #2e2e2e;
        --primary-text-light: #111111;
        --secondary-text-light: #4e4e4e;
        --secondary-text-bg: #222222;
        --contrast-text: #dddddd;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #e9e9e9;
        --primary-text-light: #f1f1f1;
        --secondary-text-light: #c9c9c9;
        --secondary-text-bg: #dddddd;
        --contrast-text: #222222;
    }
}

:root {
    --primary-blue: #3880ff;
    --primary-blue-light: #1b3159;
    --common-text-dark: #121212;
    --common-text-light: #e9e9e9;
}

.text-medium{
    font-size: 18px;
}
.text-large{
    font-size: 20px;
}
.header-md{
    box-shadow: none;
    -webkit-box-shadow: none
}
.stories-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}
.stories-container .stories-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stories-container .stories-item.first-item{
    flex-shrink: 0;
}
.stories-container .stories-item.first-item ion-label{
    width: 60px;
    height: 60px;
    display: flex;
    margin: 0.8rem;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--background-color);
    border-style: dashed;
    border-radius: 100%;
}
.stories-item ion-img::part(image){
    width: 60px;
    height: 60px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100%;
    margin: 0.8rem;
}
.stories-item.not-viewed ion-img::part(image){
    outline: 3px solid var(--primary-blue);
    outline-offset: 3px;
}
.msg-count {
    text-align: right;
    border-radius: 50px;
    background-color: #FFBB00;
    width: 24px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#chat-actions {
    display: flex;
    align-items: flex-end;
    height: fit-content;
    padding: .5rem;
    gap: .5rem;
    overflow-y: hidden;
}

#chat-actions ion-textarea{
    max-height: 200px;
    overflow-y: auto;
}
#chat-actions textarea,
#chat-actions input {
    display: block;
    width: 100%;
    padding: .6rem;
    outline: none;
    border: 2px solid var(--secondary-text-light);
    border-radius: 20px;
    background-color: transparent;
}
#chat-container{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-anchor: auto;
}

#chat-section {
    width: 100%;
    height: fit-content;
    padding: .3rem;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

#chat-section .message {
    max-width: 240px;
    min-width: 120px;
    width: fit-content;
    padding: 8px;
    margin: 4px 0;
    position: relative;
    border-radius: 6px;
    color: var(--common-text-light);
}

#chat-section .received {
    align-self: start;
    background-color: var(--secondary-text-bg);
    color: var(--contrast-text);
    white-space: pre-line;
}

#chat-section .sent {
    align-self: end;
    background-color: var(--primary-blue);
    white-space: pre-line;
}
#chat-section .message .time{
    display: block;
    text-align: right;
    font-size: 10px;
    letter-spacing: 1px;
    color: #ffffffdd;
}
#chat-section .message ion-img,
#chat-section .message video {
    width: 224px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
    background-color: var(--primary-text-light);
}
#chat-section .message ion-icon{
    position: absolute;
    bottom: 30px;
    left: 15px;
}
#chat-actions ion-icon{
    font-size: 2rem;
}
.status {
    /* border: 1px solid red; */
    position: absolute;
    z-index: 100;
    top: 1rem;
    left: 50%;
    width: 150px;
    height: fit-content;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ffffff00;
    transition: all .4s ease;
    background-color: var(--background-color);
}

#image-select-slider{
    display: grid;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 1rem;
    background-color: var(--background-color);
}
#image-select-slider ion-img,
#image-select-slider video{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border: 1px solid var(--contrast-text);
}
#image-select-slider ion-icon{
    position: absolute;
    top: -40px;
    left: 10px;
    padding: 8px;
    border-radius: 50px;
    background-color: #c9c9c944;
}
.green-dot{
    display: inline-block;
    width: 4px;
    aspect-ratio: 1;
    border-radius: 10px;
    background-color: #03d803;
}
.text-right{
    text-align: right;
    justify-items: flex-end;
}