@media (prefers-color-scheme: dark){
    :root{
        --primary-blue: #3880ff;
        --primary-blue-light: #89b3ff;
        --background-color: #e9e9e9;
        --background-color: #bdbdbd;
        --primary-text-light: #111111;
        --secondary-text-light: #e7e7e7;
    }
}
@media (prefers-color-scheme: light){
    :root{
        --primary-blue: #3880ff;
        --primary-blue-light: #89b3ff;
        --background-color: #2e2e2e;
        --background-color: #505050; 
        --primary-text-light: #e9e9e9;
        --secondary-text-light: #121212;
    }
}
:root{
    --common-text-dark: #121212;
    --common-text-light: #e9e9e9;
}

#chat-actions{
    position: fixed;
    left: 0; right: 0; bottom: 0;
    z-index: 1;
    display: grid;
    padding: 1rem;
    gap: .5rem;
    grid-template-columns: 90% 10%;
    background-color: var();
    }
    #chat-actions input{
    display: inline-block;
    width: 100%;
    padding: .6rem 1rem;
    border-radius: 100px;
    border: 2px solid grey;
    outline: none;
    }
    #chat-section{
        width: 100%;
        padding: .3rem;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        overflow-y: auto;
        overflow-anchor: auto;
    }
    #chat-section .message{
    max-width: 70%;
    width: fit-content;
    padding: 8px;
    margin: 4px 0;
    border-radius: 8px;
    }
    #chat-section .received{
    align-self: start;
    background-color: var(--primary-blue);
    color: var(--common-text-light);
    }
    #chat-section .sent{
        align-self: end;
        background-color: var(--primary-blue-light);
        color: var(--common-text-dark);
    }

.status{
    /* border: 1px solid red; */
    position: absolute;
    z-index: 100;
    top: 4rem;
    left: 50%;
    width: 150px;
    height: fit-content;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 20px #0000003f;
    transition: all .4s ease;
}