ion-popover#profile-popover{
    --width:80%;
    --height: 80%;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: var(--width);
    max-height: var(--height);
}

.video-container{
    position: absolute;
    inset: 0;
    z-index: 10;
}
#remote-video{
    position: absolute;
    inset: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#self-video{
    position: absolute;
    z-index: 100;
    right: 1rem;
    bottom: 1rem;
    width: 100px;
    aspect-ratio: 2/3;
    object-fit: cover;
    border: 1px solid green;
}